<html>
  <head>
    <title>{% block title %}Wikipedia Live Edits!{% end %}</title>
  </head>
  <body>
    <div id="edit counts"><h1>{{edit_count}} Edits Made!</h1></div>
    <div id="title"><h1>Top 10 Editors</h1></div>
    <div id="top10 editors">
        <table>
            <thead>
                <tr>
                    <th>Editor</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for (name, count) in editors %}
                <tr>
                    <td>{{name}}</td>
                    <td>{{count}}<td>
                </tr>
                {% end %}
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        "use strict";

        var path = "ws://" + location.host + "{{reverse_url('api/stream', 'counter')}}";
        var connection = new WebSocket(path);

        connection.onmessage = function(event) {
                var data = JSON.parse(event.data);
                console.log(data);
        }

    </script>

    <script type="text/javascript">
        "use strict";

        var path = "ws://" + location.host + "{{reverse_url('api/stream', 'top10')}}";
        var connection = new WebSocket(path);

        connection.onmessage = function(event) {
                var data = JSON.parse(event.data);
                console.log(data);
        }

    </script>
  </body>
</html>
