<html>
  <head>
    <title>{% block title %}Wikipedia Live Edits!{% end %}</title>

    <script src="https://cdn.jsdelivr.net/npm/vega@5.12.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.13.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.8.0"></script>

  </head>
  <body>
      <div id="edit counts"><h1><span id="counter"></span> Edits Made!</h1></div>
    <div id="title"><h1>Top 10 Editors</h1></div>
    <div id="top_editors"></div>

    <script type="text/javascript">
        "use strict";

        var path = "ws://" + location.host + "{{reverse_url('api/stream', 'counter')}}";
        var connection = new WebSocket(path);

        var last_count_update = 0;
        connection.onmessage = function(event) {
            var data = JSON.parse(event.data);
            console.assert(last_count_update == data['from_timestamp'], data);
            last_count_update = data['to_timestamp'];
            if (data['insert'].length > 0) {
                document.getElementById("counter").innerHTML = data['insert'][0][0];
            }
        }

    </script>

    <script type="text/javascript">
        "use strict";

        var editors_histogram = {
            $schema: 'https://vega.github.io/schema/vega-lite/v4.json',
            mark: 'bar',
            height: 800,
            width: 800,
            data: {name: 'top10'},
            encoding: {
                x: {field: 'editor', type: 'nominal', sort: 'y'},
                y: {field: 'count', type: 'quantitative'},
            }
        };

        vegaEmbed('#top_editors', editors_histogram).then(function(res) {

            var path = "ws://" + location.host + "{{reverse_url('api/stream', 'top10')}}";
            var connection = new WebSocket(path);

            var last_top10_update = 0;

            connection.onmessage = function(event) {
                var data = JSON.parse(event.data);
                console.assert(last_top10_update == data['from_timestamp'], data);
                last_top10_update = data['to_timestamp'];

                var insert = data['insert'].map(row => ({editor: row[0], count: row[1]}));
                var remove = data['delete'].map(row => ({editor: row[0], count: row[1]}));

                var changeSet = vega.changeset()
                        .insert(insert)
                        .remove(function(d) {
                            return remove.indexOf(d);
                        });

                res.view.resize();
                res.view.change('top10', changeSet).run();
            };
        });


    </script>
  </body>
</html>
